<div class="two-pane-app">

  <div class="top">
    <h1 class="title">Pizza Order Pro</h1>
    <ul class="nav-list">
      {{#link-to 'toppings' tagName="li"}}Toppings{{/link-to}}
      <li>Friends</li>
      <li>Pizzas</li>
    </ul>
  </div>

  <div class="bottom">
    {{outlet}}
  </div>

</div>