<div class="two-pane-app">

  <div class="top">
    <h1 class="title">Pizza Order Pro</h1>
    <ul class="nav-list">
      {{#link-to 'toppings' tagName="li"}}Toppings{{/link-to}}
      {{#link-to 'friends' tagName="li"}}Friends{{/link-to}}
      {{#link-to 'pizzas' tagName="li"}}Pizzas{{/link-to}}
    </ul>
  </div>

  <div class="bottom">
    {{outlet}}
  </div>

</div>

{{ember-notify closeAfter=5000}}